 * {
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .header {
    text-align: center;
    height: 150px;
    font-size: 30px;
    border: rgb(0, 0, 0) solid 2px;
    background-image: url(./Images/coffee\ beans.jpg) ;
    opacity: 0.6;
    
}
h1 {
    color: rgb(6, 8, 8);
}

 .navbar div {
    display: flex;
    width: 1245px;
    height: 75px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    border: black solid 2px;
    
 }
.page1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 75px;
}
#origin {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
}
.history {
    height: 300px;
    padding-left: 100px
}
.origin {
    padding-right: 100px;
    display: flex;
}
.phistory {
    padding-left: 20px;
    font-size: 19px;
}


